/*  */
#faq {
  background: url("/bg_img.png") center center;
}
.accordion {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

.accordion-item {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}

.accordion-btn {
  width: 100%;
  text-align: left;
  padding: 1rem 1.2rem;
  font-size: 1.05rem;
  background-color: #f3f3f3;
  color: #405751;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.accordion-btn:hover {
  background-color: #e0e0e0;
}

.accordion-btn.active {
  background-color: #ddd;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 1.2rem;
  background: #fff;
  transition: 0.4s ease;
}

.accordion-content.active {
  max-height: 500px;
  padding: 1rem 1.2rem;
}

.accordion-content p {
  margin: 1rem 0;
  color: #333;
}
