/*  */
#news-list {
  background:url("/bg_img.png") center center;
}
.news-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin-top: 2rem;
  overflow: hidden;
}

.news-card {
  width: 300px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.news-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}

.news-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.news-date {
  font-size: 0.85rem;
  color: #888;
  margin: 10px 16px 0;
}

.news-card h3 {
  font-size: 1.1rem;
  color: #405751;
  margin: 8px 16px;
  font-family: "Cormorant Garamond", serif;
}

.news-card p {
  font-size: 0.95rem;
  color: #444;
  margin: 0 16px 16px;
}

.news-btn {
  display: inline-block;
  margin: 0 16px 16px;
  padding: 6px 12px;
  border: 1px solid #405751;
  color: #405751;
  text-decoration: none;
  font-size: 0.85rem;
}

.news-btn:hover {
  background-color: #405751;
  color: #fff;
}

.read-more {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.read-more a {
  text-decoration: none;
  color: #fff;
  background-color: #405751;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
.read-more a:hover {
  background-color: #fff;
    color: #405751;
}
