<!-- welcome-area -->
<section id="welcome-area" data-aos="fade-right">
  <h2>Your private getway.</h2>
  <p>在日出與日落之間，我們相信，美好不該被匆忙浪費。trésor，是一處讓時光慢下來的地方，一座坐落於自然懷抱中的豪華度假村。
    我們融合在地文化與現代設計，打造出每一處都能放鬆身心的空間。從晨光灑落的陽台，到星空下的靜謐泳池，trésor 讓每一位旅人都能擁有屬於自己的片刻永恆。</p>
  <div class="welcome-card1" data-aos="fade-right">
    <div class="card1-text">
      <div class="card1-subTitle">About</div>
      <div class="card1-title">Welcome To The Trésor</div>
      <div class="card1-content">trésor 是一處靜謐而奢華的度假秘境，坐落於自然懷抱之中。我們相信，美好不應被匆忙浪費，旅程應該充滿感動與回憶。</div>
    </div>
    <div class="card1-img"><img class="img-fluid" src="/card_1.png" alt=""></div>
  </div>
  <div class="welcome-card2" data-aos="fade-left">
    <div class="card2-img"><img class="img-fluid" src="/card_2.png" alt=""></div>
  </div>
  <div class="welcome-card3" data-aos="fade-left">
    <div class="card3-text">
      <div class="card3-subTitle">Services</div>
      <div class="card3-title">Luxury Plaza Resort For You</div>
      <div class="card3-content">從晨曦中的海景，到星空下的靜謐時光，每一刻都值得細細體會。trésor 結合在地文化與現代美學，打造專屬於你的療癒空間，讓假期成為心中最珍貴的寶藏。
      </div>
    </div>
    <div class="card3-img"><img class="img-fluid" src="/card_3.jpg" alt=""></div>
  </div>
  <div class="welcome-bg1 bg-img" data-aos="fade-right"><img src="/1.png" alt=""></div>
  <div class="welcome-bg2 bg-img" data-aos="fade-right"><img src="/2.png" alt=""></div>
  <div class="welcome-bg3 bg-img" data-aos="fade-right"><img src="/3.png" alt=""></div>
  <div class="welcome-bg4 bg-img" data-aos="fade-left"><img src="/7.png" alt=""></div>
  <div class="welcome-bg5 bg-img" data-aos="fade-left"><img src="/5.png" alt=""></div>
  <div class="welcome-bg6 bg-img" data-aos="fade-left"><img src="/6.png" alt=""></div>
</section>
<!-- view more-area -->
<section id="viewMore-area">
  <div class="img-box" data-aos="fade-right"><img class="img-fluid" src="/card_4.png" alt="飲料圖片"></div>
  <div class="card-box" data-aos="fade-left">
    <div class="subTitle-box">
      <p>Residence</p>
    </div>
    <div class="title-box">
      <h2>Your private getaway</h2>
    </div>
    <article>
      <p>在日復一日的忙碌生活中，我們不斷地奔跑、不斷地趕路，卻總覺得心中仍有某個角落，是空的，是渴望喘息與安靜的。於是，我們創造了 trésor ——
        一座隱藏在海天之間的靜謐之地，一個真正屬於旅行者的靈魂居所。</p>
    </article>
    <div class="card-btn">
      <a href="">VIEW MORE</a>
    </div>
  </div>
  <div class="viewMore-bg1 bg-img" data-aos="fade-left"><img src="/7.png" alt=""></div>
  <div class="viewMore-bg2 bg-img" data-aos="fade-left"><img src="/8.png" alt=""></div>
  <div class="viewMore-bg3 bg-img" data-aos="fade-right"><img src="/9.png" alt=""></div>
</section>
<!-- News -->
<section id="news-area">
  <div class="news-title" data-aos="fade-up">
    <h2>Latest News</h2>
    <div class="news-btn">
      <a href="">VIEW MORE</a>
    </div>
  </div>
  <div class="room-list">
    <div class="room-card">
      <div class="room-img" data-aos="fade-up"><img src="/home_room1.jpg" alt=""></div>
      <div class="room-time" data-aos="fade-up">
        <p>2025-07-30</p>
      </div>
      <div class="room-title" data-aos="fade-up">春季限定早鳥優惠</div>
      <div class="room-content" data-aos="fade-up">即日起至5/15，預訂任一房型享85折，再贈迎賓香氛組合一組！</div>
      <div class="room-btn" data-aos="fade-up">
        <a href="" class="room-view">view room <img src="/chevron-right.svg" alt=""></a>
      </div>
    </div>
    <div class="room-card">
      <div class="room-img" data-aos="fade-up"><img src="/home_room2.jpg" alt=""></div>
      <div class="room-time" data-aos="fade-up">
        <p>2025-07-30</p>
      </div>
      <div class="room-title" data-aos="fade-up">仲夏月光音樂夜 開放報名</div>
      <div class="room-content" data-aos="fade-up">6/10登場，星空下的Live演出與調酒派對，名額有限，立即預約！</div>
      <div class="room-btn" data-aos="fade-up">
        <a href="" class="room-view">view room <img src="/chevron-right.svg" alt=""></a>
      </div>
    </div>
    <div class="room-card">
      <div class="room-img" data-aos="fade-up"><img src="/home_room3.jpg" alt=""></div>
      <div class="room-time" data-aos="fade-up">
        <p>2025-07-30</p>
      </div>
      <div class="room-title" data-aos="fade-up">Trésor X 在地文化週</div>
      <div class="room-content" data-aos="fade-up">由國際認證導師帶領，讓你在海風中與自己對話，每日場次開放預約。</div>
      <div class="room-btn" data-aos="fade-up">
        <a href="" class="room-view">view room <img src="/chevron-right.svg" alt=""></a>
      </div>
    </div>
  </div>
</section>
