/*  */
#contact {
  background: url("/bg_img2.png") no-repeat center center;
}
.contact-container {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px 14px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.contact-form button {
  width: fit-content;
  padding: 10px 20px;
  background-color: #405751;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contact-form button:hover {
  background-color: #6b9087;
}

.contact-info {
  flex: 1;
  font-size: 1rem;
  color: #333;
}

.contact-info h3 {
  color: #405751;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.contact-info a {
  color: #405751;
  text-decoration: none;
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }
}
